ul, li {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.layout {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.site-layout {
  background-color: #fff;
  color: #6c8d9d;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  max-width: 500px;
  height: 120px;
  font-size: 36px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.Side {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center; */
}

.SideDiv {

}

.showLogin {
  position: absolute;
  opacity: 1;
}

.hiddenLogin {
  position: absolute;
  opacity: 0;
}

.search-box {
  width: 60%;
}


.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}

.register-login {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 50px;
}

.loginButton {
  margin-right: 100px;
}

.menuall {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
}

.category {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  /* height: 900px; */
  padding-top: 20px;
}

.cardBox {
  width: 300px;
}

.cardItem {
  height: 300px;
  max-width: 300px;
  margin-top: 20px;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}